﻿@using MRSArchisWFApp.Helpers;
@using MRSArchisWFApp.Models;

@model Finding
@{
    ViewBag.Title = "Bevindingen";
}
<h2>
    Nieuwe bevinding</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Bevinding</legend>
        @Html.HiddenFor(model => model.cacheId)
        @Html.Hidden("model", Model.GetType().Name)
        <div class="display-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Date)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description, 15, 55, null)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        @if (SessionHandler.CurrentStep.StartsWith("user_AB") || SessionHandler.CurrentStep.StartsWith("user_MOR") || SessionHandler.CurrentStep.StartsWith("user_VB") || SessionHandler.CurrentStep.StartsWith("user_BA"))
        {
        <div class="editor-field">
            @Html.EditorFor(model => model.Restart)
            @Html.LabelFor(model => model.Restart)
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.Checklist)
        </div>
        <div class="display-field">
            @if (string.IsNullOrEmpty(Model.Checklist))
            {
                <text>Nog geen vragenlijst geopend</text>
            }
            else
            {
                @Html.DisplayFor(model => model.Checklist)
            }
        </div>
        }
        <p>
            <input type="submit" value="Aanmaken" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Terug naar de lijst", "Index")
</div>
