﻿@model MRSArchisWFApp.Models.Finding
@{
    ViewBag.Title = "Bevindingen";
}
<h2>
    Bevinding verwijderen</h2>
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Bevestig verwijderen</legend>
        <div class="display-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Date)
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="display-field">
            @if (!string.IsNullOrEmpty(Model.Description))
            {
                @Html.DisplayFor(model => model.Description)
            }
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.Checklist)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Checklist)
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.Creator)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Creator)
        </div>
    </fieldset>
    <p>
        <input type="submit" value="Verwijderen" />
        |
        @Html.ActionLink("Terug naar de lijst", "Index")
    </p>
}
