﻿@using MRSArchisWFApp.Helpers;
@using MRSArchisWFApp.Models;

@model Finding
@{
    ViewBag.Title = "Details";
}
<h2>
    Details</h2>
<fieldset>
    <legend>Details over deze bevinding</legend>
    <div class="display-label">
        @Html.LabelFor(model => model.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.Description)
    </div>
    <div class="display-field">
        @if (!string.IsNullOrEmpty(Model.Description))
        {
            @Html.DisplayFor(model => model.Description)
        }
    </div>
    <div class="display-label">
        Zaakstatus
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Restart)
        @Html.LabelFor(model => model.Restart)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.Checklist)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Checklist)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.Creator)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Creator)
    </div>
</fieldset>
<p>
    @if (SessionHandler.CurrentStep == Model.WorkflowStepName)
    {
        @Html.ActionLink("Bewerk", "Edit", new { id = Model.cacheId }) <text>|</text>
    }
    @Html.ActionLink("Terug naar de lijst", "Index")
</p>
