﻿@using MRSArchisWFApp.Helpers;
@using MRSArchisWFApp.Models;

@model Finding
@{
    ViewBag.Title = "Bevindingen";
}
<h2>
    Bewerken</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Bevinding</legend>

        <!-- Fields for retrieval and update -->
        @Html.HiddenFor(model => model.cacheId)
        @Html.Hidden("model", Model.GetType().Name)

        <!-- Display fields start -->
        <div class="display-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description, 15, 55, null)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        @if (SessionHandler.CurrentStep.StartsWith("user_AB") || SessionHandler.CurrentStep.StartsWith("user_MOR") || SessionHandler.CurrentStep.StartsWith("user_VB") || SessionHandler.CurrentStep.StartsWith("user_BA"))
        {
        <div class="editor-field">
            @Html.EditorFor(model => model.Restart)
            @Html.LabelFor(model => model.Restart)
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.Checklist)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Checklist)
        </div>
        }
        <p>
            <input type="submit" value="Opslaan" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Terug naar de lijst", "Index")
</div>
