﻿@using MRSArchisWFApp.Helpers;
@using MRSArchisWFApp.Models;

@model IEnumerable<Finding>

@{
    ViewBag.Title = "Bevindingen";
}
<h1>Bevindingen</h1>
<p>
    @Html.ActionLink("Nieuwe bevinding", "Create")
</p>
<table class="realTable">
    <tr>
        <th>
            Datum
        </th>
        <th style="min-width: 200px;">
            Tekst
        </th>
        <th>
            Checklijst
        </th>
        <th />
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.Description) && item.Description.Length > 50)
                {
                    string cutString = item.Description.Substring(0, 50) + "...";
                    @Html.DisplayFor(modelItem => cutString)
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Description)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Checklist)
            </td>
            <td>
                @if (SessionHandler.CurrentStep == item.WorkflowStepName)
                {
                    @Html.ActionLink("Bewerk", "Edit", new { id = item.cacheId })
                    <text>|</text>
                    @Html.ActionLink("Details", "Details", new { id = item.cacheId })
                    <text>|</text>
                    @Html.ActionLink("Verwijder", "Delete", new { id = item.cacheId })
                }
                else
                {
                    @Html.ActionLink("Details", "Details", new { id = item.cacheId })
                }
            </td>
        </tr>
    }
</table>
