﻿@using MRSArchis.OpenText;

@model MRSArchisWFApp.MRSArchisWS.document
@{
    ViewBag.Title = "Documenten";
}

<h2>Document verwijderen</h2>
<fieldset>
    <legend>@Html.DisplayFor(model => model.titel)</legend>
    <div class="display-label">
        @Html.LabelFor(model => model.bestandsnaam)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.bestandsnaam)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.creatiedatum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.creatiedatum)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.mainType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mainType)
    </div>
    <div class="display-label">
        @Html.DisplayFor(model => model.subType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.subType)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.link)
    </div>
    <div class="display-field">
        @if (!string.IsNullOrEmpty(Model.link))
        {
            <a href="@Url.Content(CSHelper.CSUrl + "?func=ll&objAction=download&objId=" + @Html.DisplayFor(model => model.link)))" 
                target="_blank" title="Klik om te downloaden">@Html.DisplayFor(model => Model.bestandsnaam)</a>
        }
        else
        {
            <text>Bestand niet aanwezig</text>
        }
    </div>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Verwijder" />
        |
        @Html.ActionLink("Terug naar de lijst", "Index")
    </p>
}
