﻿@using MRSArchisWFApp.Models;
@using MRSArchisWFApp.Helpers.MRSArchis;
@using MRSArchis.OpenText;

@model MRSArchisWFApp.MRSArchisWS.document
@{
    ViewBag.Title = "Documenten";
}
<h2>Bewerk</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // Date received
        $("#ontvangstdatum").datepicker({ dateFormat: "dd-mm-yy", defaultDate: 0, maxDate: 0 });

        // Set the dropdown lists for document type selection
        $("#mainType").change(function () {
            $.getJSON('@Url.Content("~/Document/GetDocumentSubTypes?mainType=")' + $("#mainType").val(), function (data) {
                $('#documenttypeId').empty();
                $.each(data, function (key, val) {
                    $('#documenttypeId').append(
                        $('<option value="' + val.Value + '">', { key: val }).text(val.Text));
                });
            });
        });
    });
</script>
@{ Html.RenderPartial("_EditHelpers"); }
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Documentgegevens bewerken</legend>
        @Html.HiddenFor(model => model.cacheId)
        @Html.HiddenFor(model => model.isDirty)
        <div class="display-label">
            @Html.LabelFor(model => model.titel)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.titel)
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.bestandsnaam)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.bestandsnaam)
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.bestandsgrootte)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.bestandsgrootte)
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.creatiedatum)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.creatiedatum)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.auteur)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.auteur)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.beschrijving)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.beschrijving, 3, 40, null)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ontvangstdatum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ontvangstdatum)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.mainType)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.mainType, new SelectList(DocumentTypesHelper.GetDocumentMainTypes))
            @Html.ValidationMessageFor(model => model.mainType)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.documenttypeId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.documenttypeId, DocumentTypesHelper.GetDocumentSubTypesFor(Model.mainType))
            @Html.ValidationMessageFor(model => model.documenttypeId)
        </div>
        <div class="display-label">
            @Html.LabelFor(model => model.link)
        </div>
        <div class="editor-field">
            <!-- Note either filename or title can be used to identify the form xml, but filename is more safe -->
            @if (!string.IsNullOrEmpty(Model.link))
            {
                <a href="@Url.Content(CSHelper.CSUrl + "?func=ll&objAction=download&objId=" + @Html.DisplayFor(model => model.link)))" 
                target="_blank" title="Klik om te downloaden">@Html.DisplayFor(model => model.bestandsnaam)</a>
            }
            else
            {
                @Html.DisplayFor(model => model.bestandsnaam)
            }
        </div>
        <p>
            <input type="submit" value="Bevestig" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Terug naar de lijst", "Index")
</div>
