﻿@using MRSArchis.OpenText;
@using MRSArchisWFApp.Helpers.EPS;
@using MRSArchisWFApp.MRSArchisWS;

@model IEnumerable<document>
@{
    ViewBag.Title = "Documenten";
}
<h1>Zaakdocumenten</h1>

@if (!string.IsNullOrEmpty(CaseDataHelper.CaseData.caseNumber))
{
    <p>
        @Html.ActionLink("Document uploaden", "Index", "FileUpload")
        |
        @Html.ActionLink("Document zoeken", "Index", "Search")
    </p>
}

<table class="realTable">
    <tr>
        <th>Bestand
        </th>
        <th>Creatiedatum
        </th>
        <th>Hoofdtype
        </th>
        <th>Subtype
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (!string.IsNullOrEmpty(item.link))
                {
                    <a href="@Url.Content(CSHelper.CSUrl + "?func=ll&objAction=download&objId=" + @Html.DisplayFor(modelItem => item.link)))" 
                            target="_blank" title="Klik om @item.bestandsnaam te downloaden">@Html.DisplayFor(modelItem => item.titel)@System.IO.Path.GetExtension(item.bestandsnaam)</a> 
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.titel)@System.IO.Path.GetExtension(item.bestandsnaam)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.creatiedatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mainType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subType)
            </td>
            <td>
                @Html.ActionLink("Bewerk", "Edit", new { id = item.cacheId }) |
                @Html.ActionLink("Verwijder", "Delete", new { id = item.cacheId })
            </td>
        </tr>
    }
</table>

