﻿@using MRSArchisWFApp.Helpers.MRSArchis
@model MRSArchisWFApp.Models.EPS.CaseData
@{
    ViewBag.Title = "Registratie";
}
@section PageScripts{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    @{ Html.RenderPartial("_GridHelpers"); }
    <script type="text/javascript">
        function setDisplayAreas() {
            // Hide or display rated case field sectiuon
            if ($("#caseTypeName").val() == "Start zaak") {
                // Hide related case field
                $("#related-case").hide();
            }
            else {
                $("#related-case").show();
            }
        }
        $(document).ready(function () {

            // TODO: Move to ...
            $('table.enableHighlightRow input, table.enableHighlightRow select').focus(function () {
                $(this).parent().parent().children('td:lt(2)').css("background-color", "#d9ebf7")
            });
            $('table.enableHighlightRow input, table.enableHighlightRow select').focusout(function () {
                $(this).parent().parent().children('td:lt(2)').css("background-color", "")
            });

            // Set the default case type name (TODO: should come from EPS)
            $("#caseTypeName").val("Start Zaak")

            // Set the default case role (TODO: should come from EPS)
            $("#roleTypeName").val("Zaakstarter")

            // Set the default case status (TODO: should come from EPS)
            $("#statusTypeName").val("Zaak gestart")

            // Set grid editable areas
            enableGridEdit(); // defined in _GridHelpers

            // Then protect any remaining fields
            setDisplayAreas();

            // Add a date picker to the date fields
            //$("#registrationDate").datepicker({ dateFormat: "dd-mm-yy", defaultDate: 0 });
            $("#receiptDate").datepicker({ dateFormat: "dd-mm-yy", defaultDate: 0, maxDate: 0 });

            // Disable button and case creating fields if case number already exists
            if ($("#caseNumber").val() != "") {
                $("#btnCaseNumber").attr("disabled", "disabled");
                $("#caseTypeName").attr("disabled", "disabled");
                $("#caseReference").attr("disabled", "disabled");
            }

            // Add onchange event handler
            $("#caseTypeName").change(function () {
                setDisplayAreas();
            });

            // clicked link to show modal dialog with case info
            $("#check-case").click(function () {
                $.ajax({
                    url: '@Url.Content("~/Case/GetCaseInfo")',
                    data: {
                        caseNumber: $("#caseReference").val()
                    },
                    datatype: 'json',
                    cache: false
                })
                .done(function (data) {
                    if (!data.error) {
                        $("#refCaseName").text(data.caseName);
                        $("#refCaseTypeName").text(data.caseType);

                        $("#ref-case-info").dialog({
                            title: "Zaakinfo " + $("#caseReference").val(),
                            height: 160,
                            modal: true
                        });
                    }
                    else {
                        alert(data.message);
                    }
                })
                .fail(function (jqXHR) { alert(jqXHR.responseText); });

            });

            // Get the case number when button pressed
            $("#btnCaseNumber").click(function () {
                var btn = this;
                $(btn).attr("disabled", "disabled");
                $(btn).attr("value", "Moment a.u.b. ...");

                // Get a new case number using related case number if needed
                $.ajax({
                    url: '@Url.Content("~/Case/GetCaseNumber")',
                    data: {
                        caseReference: $("#caseReference").val(),
                        caseTypeName: $("#caseTypeName").val(),
                        roleTypeName: $("#roleTypeName").val(),
                        statusTypeName: $("#statusTypeName").val(),
                        registrationDate: $("#registrationDate").val(),
                        receiptDate: $("#receiptDate").val()
                    },
                    datatype: 'json',
                    cache: false
                })
                .done(function (data) {
                    if (!data.error) {
                        $("#caseNumber").val(data.caseNumber);
                        $("#caseReference").attr("disabled", "disabled");
                    }
                    else {
                        alert(data.message);
                        $(btn).removeAttr("disabled");
                    }
                    setDisplayAreas();
                })
                .fail(function (jqXHR) { alert(jqXHR.responseText); });

                $(btn).attr("value", "Zaaknummer opvragen");
            });
        });
    </script>
}
<h1>Aanmaken van een nieuwe zaak</h1>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Zaakgegevens invullen voor opvragen zaaknummer</legend>
        @Html.HiddenFor(model => model.cacheId)
        @Html.Hidden("model", Model.GetType().Name)
        @Html.HiddenFor(model => model.statusTypeName)
        <table style="margin-top: 1em; border: none; border-collapse: collapse;" class="enableHighlightRow">
            <tr>
                <th colspan="2">Registratie en ontvangst
                </th>
                <td style="border: none;"></td>
            </tr>
            <tr style="border: none; border-collapse: collapse;">
                <td class="editor-label">
                    @Html.LabelFor(model => model.registrationDate)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.registrationDate)
                </td>
                <td style="border: none;">
                    @Html.ValidationMessageFor(model => model.registrationDate)
                </td>
            </tr>
            <tr style="border: none; border-collapse: collapse;">
                <td class="editor-label">
                    @Html.LabelFor(model => model.receiptDate)
                </td>
                <td class="initiator_ZR_nz editor-field">
                    @Html.EditorFor(model => model.receiptDate)
                </td>
                <td style="border: none;">
                    @Html.ValidationMessageFor(model => model.receiptDate)
                </td>
            </tr>
            <tr>
                <th colspan="2">Regeling en zaaktype
                </th>
                <td style="border: none;"></td>
            </tr>
            <tr style="border: none; border-collapse: collapse;">
                <td class="editor-label">
                    @Html.LabelFor(model => model.caseTypeName)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.caseTypeName)
                </td>
                <td style="border: none;"></td>
            </tr>
            <tr style="border: none; border-collapse: collapse;">
                <td class="editor-label">
                    @Html.LabelFor(model => model.roleTypeName)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.roleTypeName)
                </td>
                <td style="border: none;"></td>
            </tr>
            <tr style="border: none; border-collapse: collapse;">
                <td class="editor-label">
                    @Html.LabelFor(model => model.targetCaseTypeName)
                </td>
                <td class="initiator_ZR_nz editor-field">
                    @Html.DropDownListFor(model => model.targetCaseTypeName, 
                    new List<SelectListItem> {new SelectListItem { Text = "MRS-Intake"}}, "--Selecteer vervolgstatus --")
                </td>
                <td style="border: none;"></td>
            </tr>
            <tr>
                <th>Opvragen zaaknummer
                </th>
                <th class="initiator_ZR_nz editor-field" style="padding:0 4px 0 0; text-align: right;">
                    <input id="btnCaseNumber" name="btnCaseNumber" type="button" value="Zaaknummer opvragen"
                        style="font-size: 0.9em; padding: 1px 2px 1px 2px" />
                </th>
                <td style="border: none;"></td>
            </tr>
            <tr id="related-case" style="border: none; border-collapse: collapse;">
                <td class="editor-label">
                    @Html.LabelFor(model => model.caseReference)
                </td>
                <td class="initiator_ZR_nz editor-field">
                    @Html.EditorFor(model => model.caseReference) <a id="check-case" href="#">Controleer</a>
                </td>
                <td style="border: none;">
                    @Html.ValidationMessageFor(model => model.caseReference)
                </td>
            </tr>
            <tr style="border: none; border-collapse: collapse;">
                <td class="editor-label">
                    @Html.LabelFor(model => model.caseNumber)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.caseNumber)
                </td>
                <td style="border: none;">
                    @Html.ValidationMessageFor(model => model.caseNumber)
                </td>
            </tr>
            <tr>
                <th colspan="2">Scanopdracht &amp; ontvangstbevestiging
                </th>
                <td style="border: none;"></td>
            </tr>
            <tr style="border: none; border-collapse: collapse;">
                <td class="editor-label">
                    @Html.LabelFor(model => model.scanRequest)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.scanRequest, "NullableBool")
                </td>
                <td style="border: none;"></td>
            </tr>
            <tr style="border: none; border-collapse: collapse;">
                <td class="editor-label">
                    @Html.LabelFor(model => model.receiptNote)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.receiptNote, "NullableBool")
                </td>
                <td style="border: none;"></td>
            </tr>
        </table>
    </fieldset>
    <div id="ref-case-info" style="display: none" class="modal-dialog">
        <div class="display-label">
            @Html.LabelFor(model => model.caseTypeName)
        </div>
        <div class="display-field" id="refCaseTypeName"></div>
    </div>

}
