﻿@using MRSArchisWFApp.Helpers.MRSArchis
@model MRSArchisWFApp.Models.EPS.CaseData
@{
    ViewBag.Title = "Intake";
}

<h2>Wijzigen monument</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Zaak opzoeken</legend>
        @Html.HiddenFor(model => model.cacheId)
        @Html.Hidden("model", Model.GetType().Name)

        <p>Hier moet bijvoorbeeld het het zaaknummer van aanwijzen momnument moeten worden ingevuld.</p>
        <p>Hoe het zaaknummer het best kan worden gevonden moet nog nader worden bepaald.</p>

    </fieldset>
}