﻿@using MRSArchisWFApp.Helpers.MRSArchis
@model MRSArchisWFApp.Models.EPS.CaseData
@{
    ViewBag.Title = "MRS Zaakinfo";
}

<h2>MRS zaaktype en zaakgegevens</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Zaaktype bepalen en zaakgegevens aanvullen</legend>
        @Html.HiddenFor(model => model.cacheId)
        @Html.Hidden("model", Model.GetType().Name)

        <table style="margin-top: 1em; border: none; border-collapse: collapse;">
            <tr>
                <th colspan="2">Zaaktype</th>
                <td style="border: none;"></td>
            </tr>
            <tr style="border: none; border-collapse: collapse;">
                <td class="editor-label">
                    @Html.LabelFor(model => model.caseTypeName)
                </td>
                <td class="user_MI_iz editor-field">
                    @Html.DropDownListFor(model => model.caseTypeName,
                    new List<SelectListItem> {
                        new SelectListItem { Text = "Aanwijzen monument"},
                        new SelectListItem { Text = "Wijzigen monument"},
                        new SelectListItem { Text = "Afvoeren monument"},
                    }, "--Selecteer een zaaktype --")
                </td>
                <td style="border: none;">
                    @Html.ValidationMessageFor(model => model.caseTypeName)
                </td>
            </tr>
            <tr>
                <th colspan="2">Projectgegevens
                </th>
                <td style="border: none;"></td>
            </tr>
            <tr style="border: none; border-collapse: collapse;">
                <td class="editor-label">Projectcode
                </td>
                <td class="editor-field">.....
                </td>
                <td style="border: none;"></td>
            </tr>
        </table>
    </fieldset>
}