﻿@using MRSArchisWFApp.Helpers.MRSArchis
@model MRSArchisWFApp.Models.EPS.CaseData
@{
    ViewBag.Title = "Intake";
}

<h2>Aanwijzen monument</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Zaakgegevens aanvullen</legend>
        @Html.HiddenFor(model => model.cacheId)
        @Html.Hidden("model", Model.GetType().Name)

        <p>Nog te bepalen welke gegevens in deze tab moeten worden getoond</p>

    </fieldset>
}