﻿@using MRSArchis.OpenText;
@model MRSArchisWFApp.Models.EPS.CaseData
@{
    ViewBag.Title = "Zaak";
}
<h2>
    Overzicht</h2>
<fieldset>
    <legend>Zaakgegevens</legend>
    <div class="display-label">
        @Html.LabelFor(model => model.caseNumber)
    </div>
    <div class="display-field">
        <a href="@Url.Content(CSHelper.CSUrl + "/Open/Z" + @Html.DisplayFor(model => model.caseNumber))" target="_blank">@Html.DisplayFor(model => model.caseNumber)</a>
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.caseTypeName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.caseTypeName)
    </div>
    <table style="border: none; margin-top: 1em;">
        <caption class="display-label" style="margin-top: 0; text-align: left;">
            Status lopende zaak
        </caption>
        <tr class="display-field" style="border: none; border-collapse: collapse">
            @if (Model.expired)
            {
                <td style="border: none;">
                    <span style="color: Red;">
                        @Html.DisplayFor(model => model.expired)
                        @Html.LabelFor(model => model.expired)
                    </span>
                </td>
            }
            else if (Model.waiting)
            {
                <td style="border: none;">
                    <span style="color: Red;">
                        @Html.DisplayFor(model => model.waiting)
                        @Html.LabelFor(model => model.waiting)
                    </span>
                </td>
            }
            @if (Model.restart)
            {
                <td style="border: none;">
                    <span style="color: Red;">
                        @Html.DisplayFor(model => model.restart)
                        @Html.LabelFor(model => model.restart)
                    </span>
                </td>
            }
            <td style="border: none;">
                @Html.DisplayFor(model => model.isDigital)
                @Html.LabelFor(model => model.isDigital)
            </td>
            <td style="border: none;">
                @Html.DisplayFor(model => model.inProgress)
                @Html.LabelFor(model => model.inProgress)
            </td>
            <td style="border: none;">
                @Html.DisplayFor(model => model.invalidMail)
                @Html.LabelFor(model => model.invalidMail)
            </td>
        </tr>
    </table>
    <div class="display-label">
        @Html.LabelFor(model => model.registrationDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.registrationDate)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.receiptDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.receiptDate)
    </div>
    @if (!string.IsNullOrEmpty(Model.scanNumber))
    {
        <div class="display-label">
            @Html.LabelFor(model => model.scanNumber)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.scanNumber)
        </div>
    }
    <div class="display-label">
        @Html.LabelFor(model => model.numAttachments)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.numAttachments)
    </div>
    @if (!string.IsNullOrEmpty(Model.workflowDoc))
    {
        <div class="display-label">
            @Html.LabelFor(model => model.workflowDoc)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.workflowDoc)
        </div>
    }
</fieldset>
<div />
