/**
 * colors.css
 *
 * Definition of all 16 available Rijksoverheid brand identity colors.
 *
 * @version			1.0.1
 * @date			2009-08-28
 * @lastmodified	2010-04-26 16:17
 * @author			Studio Dumbar (Jonathan van Wunnik)
 * @project			Starters Kit Rijksoverheid
 * @link			http://www.website.com
 * @cssdoc			version 1.0-pre
 *
 * @colordef		#007bc7; azure 1 (full)				| 10
 * @colordef		#b2d7ee; azure 2 (lighter)
 * @colordef		#d9ebf7; azure 3 (lightest)
 *
 */

/* Color 10 (azure) */
.azure .title_bar { background: #d9ebf7; }
.azure .nav_bar { background: #007bc7; }
.azure .nav_main a { color: #fff; }
.azure .nav_main a:hover { background: #b2d7ee; }
.azure .sel a { background-color: #b2d7ee; color: #000; }
.azure .selected { background-color: #b2d7ee; color: #000; }
.azure .content_wrapper2 { border-top: 10px solid #b2d7ee;  }

.azure .visual { background-color: #d9ebf7; }
.azure .tong { background-color: #007bc7; }
.azure .tong h1, .azure .tong h2, .azure .tong h3, .azure .tong h4, .azure .tong h5,
.azure .tong h6, .azure .tong ul, .azure .tong ol, .azure .tong dl, .azure .tong p, .azure .tong a, .azure .tong blockquote { color: #fff; }

.azure .search li a, .azure .search li a:hover { color: #fff; }

.azure .nav_sub li a:hover { background-color: #b2d7ee !important; }

.azure .nav_sub li.open a,
.azure .nav_sub li.open li.open a,
.azure .nav_sub li.open li.open li.open a,
.azure .nav_sub li.open li.open li.open li.open a,
.azure .nav_sub li.open li.open li.open li.open li.open a { background-color: #d9ebf7; }

.azure .nav_sub li.active a,
.azure .nav_sub li.open li.active a,
.azure .nav_sub li.open li.open li.active a,
.azure .nav_sub li.open li.open li.open li.active a,
.azure .nav_sub li.open li.open li.open li.open li.active a,
.azure .nav_sub li.open li.open li.open li.open li.open li.active a { background-color: #b2d7ee; }

.azure .hl_lighter { background-color: #b2d7ee; }
.azure .hl_lightest { background-color: #d9ebf7; }

.azure .hl_color10 { background-color: #e17000; }	/* orange instead of azure */

.azure .banner,
.azure .banner a,
.azure .banner h3,
.azure .banner h4 { color: #fff; }

.azure .banner.hl_lighter,
.azure .banner.hl_lightest,
.azure .banner.hl_color10,
.azure .banner.hl_color11,
.azure .banner.hl_color12,
.azure .banner.hl_color13,
.azure .banner.hl_color14,
.azure .banner.hl_color15,
.azure .banner.hl_lighter a,
.azure .banner.hl_lightest a,
.azure .banner.hl_color10 a,
.azure .banner.hl_color11 a,
.azure .banner.hl_color12 a,
.azure .banner.hl_color13 a,
.azure .banner.hl_color14 a,
.azure .banner.hl_color15 a,
.azure .banner.hl_lighter h3,
.azure .banner.hl_lightest h3,
.azure .banner.hl_color10 h3,
.azure .banner.hl_color11 h3,
.azure .banner.hl_color12 h3,
.azure .banner.hl_color13 h3,
.azure .banner.hl_color14 h3,
.azure .banner.hl_color15 h3,
.azure .banner.hl_lighter h4,
.azure .banner.hl_lightest h4,
.azure .banner.hl_color10 h4,
.azure .banner.hl_color11 h4,
.azure .banner.hl_color12 h4,
.azure .banner.hl_color13 h4,
.azure .banner.hl_color14 h4,
.azure .banner.hl_color15 h4 { color: #000; }

.azure .box.open.lighter h2,
.azure .box.open.lighter h3,
.azure .box.open.lighter h4,
.azure .box.open.lighter h5,
.azure .box.open.lighter h6 { background-color: #b2d7ee; }
.azure .box.open.lighter { border: 1px solid #b2d7ee; }

.azure .box.open.lightest h2,
.azure .box.open.lightest h3,
.azure .box.open.lightest h4,
.azure .box.open.lightest h5,
.azure .box.open.lightest h6 { background-color: #d9ebf7; }
.azure .box.open.lightest { border: 1px solid #d9ebf7; }

.azure .box.closed h2,
.azure .box.closed h3,
.azure .box.closed h4,
.azure .box.closed h5,
.azure .box.closed h6 { background-color: #b2d7ee; }
.azure .box.closed { background-color: #d9ebf7; border: 1px solid #b2d7ee; }

.azure .box.open.contrast_lighter h2,
.azure .box.open.contrast_lighter h3,
.azure .box.open.contrast_lighter h4,
.azure .box.open.contrast_lighter h5,
.azure .box.open.contrast_lighter h6 { background-color: #efb2ce; }
.azure .box.open.contrast_lighter { border: 1px solid #efb2ce; }

.azure .box.open.contrast_lightest h2,
.azure .box.open.contrast_lightest h3,
.azure .box.open.contrast_lightest h4,
.azure .box.open.contrast_lightest h5,
.azure .box.open.contrast_lightest h6 { background-color: #f7d9e7; }
.azure .box.open.contrast_lightest { border: 1px solid #f7d9e7; }

.azure .box.closed.contrast h2,
.azure .box.closed.contrast h3,
.azure .box.closed.contrast h4,
.azure .box.closed.contrast h5,
.azure .box.closed.contrast h6 { background-color: #efb2ce; }
.azure .box.closed.contrast { background-color: #f7d9e7; border: 1px solid #efb2ce; }

/* arrow color white in 'tong' */
.azure .tong ul li { background-position: left -275px; }

/*
* Transparent
*
* @section			Set the background to transparent for not 'open' and 'active' anchors
*/

.azure .nav_sub li.open li a,
.azure .nav_sub li.open li.open li a,
.azure .nav_sub li.open li.open li.open li a,
.azure .nav_sub li.open li.open li.open li.open li a,
.azure .nav_sub li.open li.open li.open li.open li.open li a,

/*
* Banners
*
* @section			Set the background (highlight) color for banners
*/

.hl_color10 { background-color: #007bc7; }	/* azure */
