﻿@using MRSArchisWFApp.Helpers;
@using MRSArchisWFApp.Models.Checklist;


@model Question

@if (Model.Type == QuestionType.YesNo)
{
    @Html.RadioButton(Model.Code, "Yes", Model.Answer == Answer.Yes) <text>Ja</text>
    @Html.RadioButton(Model.Code, "No", Model.Answer == Answer.No) <text>Nee</text>
}
else if (Model.Type == QuestionType.YesNoNotApplicable)
{
    @Html.RadioButton(Model.Code, "Yes", Model.Answer == Answer.Yes) <text>Ja</text>
    @Html.RadioButton(Model.Code, "No", Model.Answer == Answer.No) <text>Nee</text>
    @Html.RadioButton(Model.Code, "NotApplicable", Model.Answer == Answer.NotApplicable) <text>Nvt</text>
}
else if (Model.Type == QuestionType.Checkbox)
{
    @Html.CheckBox(Model.Code, Model.Answer == Answer.Checked)
}

