﻿@using MRSArchisWFApp.Helpers;
@using MRSArchisWFApp.Models.Checklist;

@model CheckList
@{
    ViewBag.Title = "Checklijsten";
}
<script type="text/javascript">
    $(document).ready(function () {
        if ("@SessionHandler.CurrentStep" != "@Model.WorkflowStepName")
            $('*', 'form').attr('disabled', 'disabled').attr('readonly', 'readonly');
    });
</script>
<h1>@Model.Name</h1>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.cacheId)
    @Html.Hidden("model", Model.GetType().Name)

    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Vragen</legend>
        <table style="margin-top: 10px; margin-left: 0px; margin-right: 8px; width: 100%;">
            <tr>
                <th style="width: 60px;">
                    Code
                </th>
                <th>
                    Vraag
                </th>
                <th style="width: 120px;">
                    Antwoord
                </th>
            </tr>
            @foreach (var item in Model.Questions)
            {
                <tr style="vertical-align: top;">
                    <td>
                        @Html.HiddenFor(modelitem => item.Code)
                        @Html.DisplayFor(modelitem => item.Code)
                    </td>
                    <td>
                        @Html.Raw(item.Description)
                        @if (item.SubQuestions.Count() > 0)
                        {
                            <table style="border: none; margin-top: 10px; margin-left: 8px; width: 90%;">
                                @foreach (var subitem in item.SubQuestions)
                                {
                                    if (subitem.Type == QuestionType.Checkbox)
                                    {
                                    <tr style="border: none; border-collapse: collapse;vertical-align: top;">
                                        <td style="border: none; width: 12px;">
                                            @Html.Partial("_Question", subitem)
                                        </td>
                                        <td style="border: none;">
                                            @Html.DisplayFor(modelitem => subitem.Description)
                                        </td>
                                    </tr>
                                    }
                                    else
                                    {
                                    <tr style="border: solid 1px #e8eef4; border-collapse: collapse;vertical-align: top;">
                                        <td style="border: none;">
                                            @Html.DisplayFor(modelitem => subitem.Description)
                                        </td>
                                        <td style="border: none; width: 150px;">
                                            @Html.Partial("_Question", subitem)
                                        </td>
                                    </tr>
                                    }
                                }
                            </table>
                        }
                    </td>
                    <td style="width: 150px;">
                        @Html.Partial("_Question", item)
                    </td>
                </tr>
            }
        </table>
        <br />
        <input type="submit" value="Opslaan" />
    </fieldset>
}
