﻿@using MRSArchis.OpenText;
@using MRSArchisWFApp.Helpers
@using MRSArchisWFApp.Models;
@using MRSArchisWFApp.CHOService;

@model rijksmonument

@{
    ViewBag.Title = "Delete";
}

@section PageScripts {
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    
    @{ Html.RenderPartial("_GridHelpers"); }

    <script type="text/javascript">
        $(document).ready(function () {
            // Set grid editable areas
            enableGridEdit(); // defined in _GridHelpers

            $.ajax({
                url: '@Url.Content("~/Dico/GetWidget")',
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html'
            })
            .success(function (result) {
                $('#map').html(result);
            })
            .error(function (xhr, status) {
                alert(status);
            })
        });
        </script>
    }

<h1>Delete</h1>

@using (Html.BeginForm("Delete", "Dico", FormMethod.Post))
{    
    <table>
        <tr>
            @Html.HiddenFor(model => model.cacheId)
            <td style="height:300px; width:200px;">
                <div id="map"></div>
            </td>
            <td style="vertical-align:top">
                <table>
                    <tr>                    
                        <td class="editor-label">@Html.LabelFor(model => model.geometrie.statusGeometrieId)</td>
                        <td class="editor-field">@Html.DropDownListFor(model => model.geometrie.statusGeometrieId,
                                                    new SelectList(MRSArchisWFApp.Helpers.CHO.StatesGeometryHelper.States, "statusGeometrieId", "waarde", Model.geometrie.statusGeometrieId))</td>
                    </tr>
                    <tr>
                        <td class="editor-label">@Html.LabelFor(model => model.geometrie.herkomstId)</td>
                        <td class="editor-field">@Html.DropDownListFor(model => model.geometrie.herkomstId, 
                                                    new SelectList(MRSArchisWFApp.Helpers.CHO.OriginsHelper.Origins, "herkomstId", "waarde", Model.geometrie.herkomstId))</td>
                    </tr>
                    <tr>
                        <td class="editor-label">@Html.LabelFor(model => model.geometrie.mateOvernameId)</td>
                        <td class="editor-field">@Html.DropDownListFor(model => model.geometrie.mateOvernameId, 
                                                    new SelectList(MRSArchisWFApp.Helpers.CHO.TakeOverDegreesHelper.TakeOverDegrees, "mateOvernameId", "waarde", Model.geometrie.mateOvernameId))</td>
                    </tr>
                    <tr>
                        <td class="editor-label">@Html.LabelFor(model => model.geometrie.kwaliteitGeometrieId)</td>
                        <td class="editor-field">@Html.DropDownListFor(model => model.geometrie.kwaliteitGeometrieId, 
                                                    new SelectList(MRSArchisWFApp.Helpers.CHO.QualitiesGeometryHelper.Qualities, "kwaliteitGeometrieId", "waarde", Model.geometrie.kwaliteitGeometrieId))</td>
                    </tr>
                    <tr>
                        <td class="editor-label">@Html.LabelFor(model => DocumentHelper.Documents.First(d => d.id == model.geometrie.documentId).beschrijving)</td>
                        <td class="editor-field">@Html.EditorFor(model => DocumentHelper.Documents.First(d => d.id == model.geometrie.documentId).beschrijving)</td>
                    </tr>
                </table>
            </td>
        </tr>   
        <tr>
            <td class="initiator_ZR_nz editor-field">
                <input type="submit" value="Verwijder" />
            </td>
        </tr> 
    </table>
    <p>
        @Html.ActionLink("Terug naar de lijst", "Index")
    </p>
}
