﻿@using MRSArchis.OpenText;
@using MRSArchisWFApp.Helpers
@using MRSArchisWFApp.Models;
@using MRSArchisWFApp.CHOService;

@model rijksmonument

@{
    ViewBag.Title = "Edit";
}

@section PageScripts {
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    
    @{ Html.RenderPartial("_GridHelpers"); }

    <script type="text/javascript">
        $(document).ready(function () {
            // Set grid editable areas
            enableGridEdit(); // defined in _GridHelpers

            $.ajax({
                url: '@Url.Content("~/Dico/GetWidget")',
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html'
            })
            .success(function (result) {
                $('#map').html(result);
            })
            .error(function (xhr, status) {
                alert(status);
            })

            //SETTING UP OUR POPUP
            //0 means disabled; 1 means enabled;
            var popupStatus = 0;

            //loading popup with jQuery magic!
            function loadPopup(popup) {
                //loads popup only if it is disabled
                if (popupStatus == 0) {
                    if (popup == 'bigMap') {
                        $("#popupBigMap").fadeIn("slow");
                    }
                    popupStatus = 1;
                }
            }

            //disabling popup with jQuery magic!
            function disablePopup() {
                //disables popup only if it is enabled
                if (popupStatus == 1) {
                    $("#popupBigMap").fadeOut("slow");
                    popupStatus = 0;
                }
            }

            //centering popup
            function centerPopup(popupId) {
                //request data for centering
                var windowWidth = document.documentElement.clientWidth;
                var windowHeight = document.documentElement.clientHeight;
                var popupHeight = $(popupId).height();
                var popupWidth = $(popupId).width();

                //centering
                $(popupId).css({
                    "position": "absolute",
                    "top": 0, //Math.round(windowHeight / 2 - popupHeight / 2),
                    "left": 2 //Math.round(windowWidth / 2 - popupWidth / 2)
                });
            }

            //CONTROLLING EVENTS IN jQuery
            $(document).ready(function () {

                //LOADING POPUP
                //Click the button event!
                $("#showBigMap").click(function () {
                    //centering with css
                    centerPopup('#popupBigMap');
                    //load popup
                    loadPopup('bigMap');
                });

                //CLOSING POPUP
                //Click the x event!
                $("#popupBigMapClose").click(function () {
                    disablePopup();
                });

                //Press Escape event!
                $(document).keypress(function (e) {
                    if (e.keyCode == 27 && popupStatus == 1) {
                        disablePopup();
                    }
                });

            });
        });
    </script>
    }

<style>
    #popupBigMap 
    {
	    background: rgb(255, 255, 255); padding: 12px; border: 2px solid rgb(199, 188, 184); border-image: none; width: 900px; height: 600px; overflow: auto; font-size: 13px; display: none; position: fixed; z-index: 1002; _position: absolute;
    }
    
    #popupBigMapClose 
    {
	    color: rgb(21, 66, 115); line-height: 14px; font-size: 14px; font-weight: 700; text-decoration: none; float: right; display: block; cursor: pointer;
    }
</style>

<h1>Edit</h1>

@using (Html.BeginForm("Upload", "Dico", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <fieldset>
        <legend>Selecteer een bestand</legend>
        @Html.HiddenFor(model => model.cacheId)
        <div>
            <table>
                <tr>
                    <td class="user_AM_in editor-field" style="width:200px"><input id="file_upload" name="file_upload" type="file"/></td>
                    <td>@ViewBag.Message</td>
                </tr>
            </table>
        </div>
    </fieldset>
    <input type="submit" value="Uploaden.." />
}

@using (Html.BeginForm("Edit", "Dico", FormMethod.Post))
{    
    <table>
        <tr>
            <th></th>
            <th>Eigenschappen</th>
        </tr>
        <tr>
            @Html.HiddenFor(model => model.cacheId)
            <td style="height:300px; width:200px;">
                <div id="map"></div>
                <a class="menu" href="http://rce.webgispublisher.nl/?map=MRS-Archis_Aanwijzen-Behandelen_Viewer10" target="_blank">Grote kaart in nieuw scherm</a>
            </td>
            <td style="vertical-align:top">
                <table>
                    <tr>                    
                        <td class="editor-label">@Html.LabelFor(model => model.geometrie.statusGeometrieId)</td>
                        <td class="editor-field">@Html.DropDownListFor(model => model.geometrie.statusGeometrieId,
                                                    new SelectList(MRSArchisWFApp.Helpers.CHO.StatesGeometryHelper.States, "statusGeometrieId", "waarde", Model.geometrie.statusGeometrieId))</td>
                    </tr>
                    <tr>
                        <td class="editor-label">@Html.LabelFor(model => model.geometrie.herkomstId)</td>
                        <td class="user_AM_in editor-field">@Html.DropDownListFor(model => model.geometrie.herkomstId, 
                                                    new SelectList(MRSArchisWFApp.Helpers.CHO.OriginsHelper.Origins, "herkomstId", "waarde", Model.geometrie.herkomstId))</td>
                    </tr>
                    <tr>
                        <td class="editor-label">@Html.LabelFor(model => model.geometrie.mateOvernameId)</td>
                        <td class="user_AM_in editor-field">@Html.DropDownListFor(model => model.geometrie.mateOvernameId, 
                                                    new SelectList(MRSArchisWFApp.Helpers.CHO.TakeOverDegreesHelper.TakeOverDegrees, "mateOvernameId", "waarde", Model.geometrie.mateOvernameId))</td>
                    </tr>
                    <tr>
                        <td class="editor-label">@Html.LabelFor(model => model.geometrie.kwaliteitGeometrieId)</td>
                        <td class="user_AM_in editor-field">@Html.DropDownListFor(model => model.geometrie.kwaliteitGeometrieId, 
                                                    new SelectList(MRSArchisWFApp.Helpers.CHO.QualitiesGeometryHelper.Qualities, "kwaliteitGeometrieId", "waarde", Model.geometrie.kwaliteitGeometrieId))</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => DocumentHelper.Documents.First(d => d.id == model.geometrie.documentId).beschrijving)</td>
                        <td class="user_AM_in editor-field">@Html.EditorFor(model => DocumentHelper.Documents.First(d => d.id == model.geometrie.documentId).beschrijving)</td>
                    </tr>
                </table>
            </td>
        </tr>   
        <tr>
            <td class="user_AM_in editor-field">
                <input type="submit" value="Opslaan" />
            </td>
        </tr> 
    </table>
    <p>
        @Html.ActionLink("Terug naar de lijst", "Index")
    </p>    
}

<div id="popupBigMap" style="width:97%; z-index:999;">   
    <a id="popupBigMapClose">x</a> 
    <iframe name="bigMapFrame" id="bigMapFrame" frameborder="0" width="98%" height="600" scrolling="no" src="about:blank"></iframe>
</div>