﻿@using MRSArchis.OpenText;
@using MRSArchisWFApp.CHOService;
@using MRSArchisWFApp.Helpers

@model IEnumerable<rijksmonument>

@{
    ViewBag.Title = "Upload dico";
}

<h1>Upload en valideer voorbeschermingdico</h1>

<p>Upload en valideer X voorbeschermingdico's.</p> <!-- TODO: Replace X -->

@* class realTable is for showing real table with rijkshuisstijl css *@
<table class="realTable">
    <tr>        
        <th>Objectnummer</th>
        <th>Omschrijving</th>
        <th>Akkoord</th>
        <th>Actie(s)</th>
    </tr>
    @foreach (var item in Model)
    {        
        <tr>
            <td>@Html.DisplayFor(modelItem => item.choId)</td>
            <td>@Html.DisplayFor(modelItem => DocumentHelper.Documents.First(d => d.id == item.geometrie.documentId).beschrijving)</td>
            <td>Ja</td>
            <td class="icons">
                @* @class in actionlinks is for showing icons, see css *@
                @Html.ActionLink("Bewerk", "Edit", new { item.cacheId }, new { @class = "documentEdit"}) |
                @Html.ActionLink("Verwijder", "Delete", new { item.cacheId }, new { @class = "delete"})
            </td>
        </tr>
    }
</table>

<button onclick="location.href='@Url.Action("Upload")'">Upload nieuwe dico</button>