﻿@{
    ViewBag.Title = "Show WGP Viewer";
}

@section PageScripts{

    <script type="text/javascript">
        var theUrl = "http://rce.webgispublisher.nl/Default.aspx?map=MRS-Archis_Aanwijzen-Behandelen_Viewer10&bbox=145538,465203,147538,467203&marker=146538,466203";

        $(document).ready(function () {

            // Load the viewer
            $("#showWGPWindow").click(function () {
                window.open(theUrl, "_blank", "toolbar=no, scrollbar=yes, resizable=yes, location=no, menubar=no, top=200, left=200, width=800, height=600");
            });

        });
    </script>
}

<h1>Show dico</h1>
<p class="intro">Op deze pagina kan men dico tonen en akkorderen</p>
<div id="map">
    <script src='http://rce.webgispublisher.nl/widget.ashx?map=MRS-Archis_Aanwijzen_Widget10&bbox=230263.7,554362.2,237682.5,561135.9&ovautoopen=false&slider=smallSlider&doPanel=panelNone&width=200&height=300&ovheight=150&ovwidth=150&glgeol=' type="text/javascript" id="wgpscript"></script>
    <noscript>
        <p>Uw browser ondersteunt geen JavaScript!</p>
        <p>De (niet getoonde) kaart bevat het volgende:</p>
        <p>MRS/Archis kaart t.b.v. proces Aanwijzen monumenten - Behandelen</p>
    </noscript>
</div>
<button id="showWGPWindow" name="showWGPWindow" title="WGP Viewer tonen">Toon WGP Viewer</button>



