﻿@using MRSArchis.OpenText;
@using MRSArchisWFApp.CHOService;

@model rijksmonument

@{
    ViewBag.Title = "Upload dico";
}

<h1>Upload</h1>

@using (Html.BeginForm("Upload", "Dico", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <fieldset>
        <legend>Selecteer een bestand</legend>
        <div class="editor-field">
            <table>
                <tr>
                    <td style="width:200px"><input id="file_upload" name="file_upload" type="file"/></td>
                    <td>@ViewBag.Message</td>
                </tr>
            </table>
        </div>
    </fieldset>
    <input type="submit" value="Uploaden.." />    
}

<p>
    @Html.ActionLink("Terug naar de lijst", "Index")
</p>