﻿@using MRSArchisWFApp.Helpers;
@using MRSArchisWFApp.Helpers.EPS;
@if (false)
{ <script src="../../Scripts/jquery-1.9.1-vsdoc.js" type="text/javascript"></script> }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/rijkshuisstijl/Screen.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script type="text/javascript">
        // ***************************************************************************************//
        // The Post function gets called by EPS after modifying PostanGo.js in the following way: //
        // - Locate the following line at the top                                                 //
        //    if(myFormframe != null && myFormframe.name == "formframe")                          //
        //    {                                                                                   //
        //    ...                                                                                 //
        //    }                                                                                   //
        // - Add this patch for calling the similar named function below:                         //
        //        if (myFormframe.Post) {                                                         //
        //            myFormframe.Post(Func);                                                     //
        //            return;                                                                     //
        //        }                                                                               //
        //****************************************************************************************//
        function Post(Func) {
            // Update the cache first
            UpdateCache();

            $.ajax({ url: '@Url.Content("~/Home/PWAction?Func=")' + Func, datatype: 'json', cache: false })
			    .done(function (data) {
			        if (!data.isValid) {
			            // Highlight the active tab
			            $("#menu a:contains('" + data.title + "')").each(function () {
			                if ($(this).text() == data.title) {
			                    $(this).css("color", "#ff0000");
			                    $(this).scrollTop();
			                }
			            });
			            alert(data.message);
			            return false;
			        }
			        else if (Func == "Sendup" || Func == "Close") {
			            parent.window.location.href = "/pw/client/flowlist.aspx";
			        }
			        else if (Func == "Save") {
			            alert("Gegevens zijn opgeslagen");
			        }
			    });
        }

        function UpdateCache() {
            if ($("form") && $("form").length > 0 && "@SessionHandler.IsReadonly" != "true") {
                $.ajax({ url: '@Url.Content("~/Home/UpdateCache?")' + $("form").formSerialize(), datatype: 'text', cache: false, async: false })
			    .done(function (txt) {
			        $("#updateresult").show();
			        $("#updateresult").fadeOut(1000);
			    });
            }
        }
    </script>
    <!-- Render page scripts before master disabling, posting scripts-->
    @RenderSection("PageScripts", false)


    <!-- Disable, post and active tab highligthing -->
    <script type="text/javascript">

        $(document).ready(function () {
            // Parameters in home/index method stored in session vars
            if ("@SessionHandler.CurrentStep" != "")
                $(".@SessionHandler.CurrentStep").css("display", "inline");
            if ("@SessionHandler.IsReadonly" == "true") {
                $('input, select', 'form').attr('disabled', 'disabled').attr('readonly', 'readonly');
                $('#main a').attr('href', '#').removeAttr('target');
                $('#main a').click(function () {
                    alert("Accepteer de taak om de link actief te maken");
                    return false;
                });
            }

            // Save the form when the users clicks on a link
            if ($("form") && $("form").length > 0 && "@SessionHandler.IsReadonly" != "true") {
                $("a[href!='#']").click(function () {
                    UpdateCache();
                });
            }

            // Highlight the active tab
            $("#menu a:contains('@ViewBag.Title')").each(function () {
                if ($(this).text() == "@ViewBag.Title")
                    //$(this).css("background-color", "#a6e2a6");
                    $(this).addClass("selected");
            });

            // Hide test buttons
            if (top.document.forms.length == 0 || top.document.forms[0].name != "aspnetForm")
                $("#pwbuttons").show();
        });
    </script>
</head>
<body>
    <div class="container page azure">
        <header class="header">
            <nav class="nav_bar">
                <ul id="menu" class="nav_main">
                    <li class="initiator_ZR_nz">@Html.ActionLink("Registratie", "CreateNewCase", "Case")</li>
                    <li class="user_MI_in">@Html.ActionLink("Intake", "IntakeMRSCase", "Case")</li>
                    <li class="user_AM_in">@Html.ActionLink("Intake", "IntakeAddMonument", "Case")</li>
                    <li class="user_AM_in">@Html.ActionLink("Checklijst", "Edit", "CheckList")</li>
                    <li class="user_AM_in">@Html.ActionLink("Upload dico", "Index", "Dico")</li>
                    <li class="user_AM_in">@Html.ActionLink("WGP Viewer", "ShowWGPViewer", "Dico")</li>
                    <li class="user_CM_in">@Html.ActionLink("Intake", "IntakeChangeMonument", "Case")</li>
                    <li class="user_VM_in">@Html.ActionLink("Intake", "IntakeDeleteMonument", "Case")</li>
                    <li class="initiator_ZR_nz user_MI_in user_AM_in user_CM_in user_WM_in">@Html.ActionLink("Documenten", "Index", "Document")</li>
                    <li class="initiator_ZR_nz user_MI_in user_AM_in user_CM_in user_WM_in">@Html.ActionLink("Bevindingen", "Index", "Findings")</li>
                    <li style="display: inline;">@Html.ActionLink("Zaak", "Overview", "Case")</li>
                                        
                    
                </ul>
            </nav>
        </header>

        <div class="content_wrapper1">
            <!-- Schaduw rechts -->
            <div class="content_wrapper2">
                <!-- Lichtere balk onder het menu -->
                <section id="main">
                    @RenderBody()
                </section>
            </div>
        </div>
    <footer class="footer">
        <div id="updateresult" style="border: 1px solid darkgrey; background-color: #ffeeee; margin: auto; width: 70%; padding: 4px; display: none">
            Gegevens opgeslagen, bezig met ophalen nieuwe pagina...
        </div>
        <br />
        <div class="ref">
            <img src="@Url.Content("~/Content/rijkshuisstijl/logos/RO_Footer_Homepage.png")" alt="" height="25" title="@MRSArchisWFApp.MvcApplication.About" /></div>
        @*@Html.ActionLink(MRSArchisWFApp.MvcApplication.About, "ReleaseNotes", "Home", null, new { target = "_blank", style = "text-decoration:none" })*@
        <div id="pwbuttons" style="float: right; margin-right: 10px; display: none;">
            <button onclick="Post('Save');">
                Save</button>
            |
                <button onclick="Post('SendupTest');">
                    Forward</button>
        </div>
    </footer>
    </div>
</body>
</html>
