﻿@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
}
<script type="text/javascript">
    $(document).ready(function () {
        // Hide menus for the error page
        $('#menu').hide();
        $('#pwbuttons').hide();
        if (!window.history.length)
            $("#winclose").text("Dit scherm sluiten");
    });
</script>
<h2>
    Excuses, er is een fout opgetreden.
</h2>
<p>
    Fout: @Html.DisplayTextFor(model => model.Exception.Message)
</p>
<p>
    Details van de fout:<br />
    @ViewBag.Message
</p>
<p>
    <a id="winclose" href="#" onclick="window.history.length > 0 ? window.history.back() : window.close();">
        Terug naar het vorige scherm</a></p>
