﻿@{
    ViewBag.Title = "Documenten";
}
<h2>
    Bestand uploaden</h2>
@using (Html.BeginForm("ClassicUpload", "FileUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <fieldset>
        <legend>Selecteer een bestand</legend>
        <div class="editor-label">
            FileName
        </div>
        <div class="editor-field">
            <input id="file_upload" name="file_upload" type="file"/>
        </div>
        <div class="display-label">
            @ViewBag.Message
        </div>
    </fieldset>
    <p>
        <input type="submit" value="Uploaden.." />
    </p>
    <p>
        @Html.ActionLink("Terug naar de documentenlijst", "Index", "Document") | @Html.ActionLink("Meerdere documenten uploaden", "Index")
    </p>
}