﻿@using MRSArchisWFApp.Helpers;

@{
    ViewBag.Title = "Documenten";
}
<script type="text/javascript">
    function CuteWebUI_AjaxUploader_OnPostback() {
        //submit the form after the file have been uploaded:
        document.forms[0].submit();
    }
</script>

<h2>
    Bijlagen uploaden</h2>
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Uploaden bestanden voor zaak @SessionHandler.CaseNumber</legend>
        <p>
            Met de onderstaande knop kunt u in één keer meerdere bijlagen aan een zaak toevoegen.</p>
        <button id="uploadbutton" onclick="return false;">
            Bestanden selecteren...
        </button>
        @Html.Raw(ViewBag.uploaderhtml)
        @if (!string.IsNullOrEmpty(ViewBag.message))
        {
            <p>
                @ViewBag.message
            </p>
        }
    </fieldset>
    <p>
        @Html.ActionLink("Terug naar de documentenlijst", "Index", "Document") | @Html.ActionLink("Één document uploaden", "ClassicUpload")
    </p>
}
