﻿@*@using MRSArchisWFApp.Helpers.CS;*@

@model string

@{
    ViewBag.Title = "Zoeken";
}
<script type="text/javascript">
    $(document).ready(function () {
        // Set the dropdown lists for document type selection
        function setDocumentSubTypes() {
            $.getJSON('@Url.Content("~/Document/GetDocumentSubTypes?mainType=")' + $("#mainType").val(), function (data) {
                $('#documentTypeId').empty();
                $('#documentTypeId').append('<option value="">', '--');
                $.each(data, function (key, val) {
                    $('#documentTypeId').append(
                        $('<option value="' + val.Value + '">', { key: val }).text(val.Text));
                });
            });
        }
        $("#mainType").change(function () {
            setDocumentSubTypes();
        });
        if ($("#mainType").val())
            setDocumentSubTypes();
    });
</script>

<h2>Zoeken binnen zaakdossier</h2>
@using (Html.BeginForm("Results", "Search", FormMethod.Post))
{
    <fieldset>
        <legend>Zoekcriteria</legend>
        <!-- Url to return to after users has selected a search result -->
        @Html.Hidden("returnUrl")
        <div class="editor-label">
            Hoofdtype
        </div>
        <div class="editor-field">
            @Html.DropDownList("mainType", new SelectList(MRSArchisWFApp.Helpers.DocumentTypesLookupHelper.GetDocumentMainTypes), "--")
        </div>
        <div class="editor-label">
            Subtype
        </div>
        <div class="editor-field">
            @Html.DropDownList("documentTypeId", MRSArchisWFApp.Helpers.DocumentTypesLookupHelper.GetDocumentSubTypesFor(""))
        </div>
        <div class="editor-label">
            Documentnaam
        </div>
        <div class="editor-field">
            @Html.Editor("searchTerm")
        </div>
    </fieldset>
    <p>
        <input id="performSearch" name="performSearch" type="submit" value="Zoeken.." />
    </p>
}
