﻿@using MRSArchisWFApp.Models.CaseService;
@using MRSArchisWFApp.Models.CS;
@using MRSArchisWFApp.Helpers.CS;
@model IEnumerable<MRSArchisWFApp.MRSArchisWS.document>
@{
    ViewBag.Title = "Zoeken";
}
<h2>
    Gevonden documenten</h2>
<p>
    @Html.ActionLink("Opnieuw zoeken", "Index", new { Name = ViewBag.searchTerm, returnUrl = ViewBag.returnUrl }, null)
</p>
<table>
    <tr>
        <th>
        </th>
        <th>
            Naam
        </th>
        <th>
            Aanmaakdatum
        </th>
        <th>
            Hoofdtype
        </th>
        <th>
            Subtype
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (!string.IsNullOrEmpty(ViewBag.returnUrl))
                {
                    <a href="@Url.Content(@ViewBag.returnUrl + "?csObjectId=" + @item.csObjectId)" title="Klik om te selecteren" style="text-decoration:none">
                        &gt;</a>
                }
            </td>
            <td>
                @if (item.csObjectId > 0)
                {
                    <a href="@Url.Content(CSHelper.CSUrl + "?func=ll&objAction=download&objId=" + @Html.DisplayFor(modelItem => item.csObjectId)))" 
                            target="_blank" title="Klik om te downloaden">@Html.DisplayFor(modelItem => item.titel)</a>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.titel)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.creatiedatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mainType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subType)
            </td>
        </tr>
    }
</table>
