﻿@{
    ViewBag.Title = "Over MRS Archis Workflow";
}
<h2>Welkom bij DIV &amp; MRS-Archis workflow</h2>
<div id="welcomedisplay">
    <p>Dit is de applicatie voor de workflow formulieren.</p>
    <p>Als u dit scherm ziet heeft u de taak nog niet geaccepteerd of er is geen taak beschikbaar.</p>
    <p><small>&copy; 2014 Delaware Consulting</small></p> 
</div>
