﻿/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
/*body {
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}*/
/*a:link {
    color: #034af3;
    text-decoration: underline;
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}*/

/*p, ul {
    margin-bottom: 4px;
    line-height: 1.6em;
}*/

header,
footer,
nav,
section {
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
/*h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}*/

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
	min-width: 800px;
}

/*header, #header {
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}*/

header h1, #header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
}

#main {
    padding: 0px 30px 0px 30px;
    background-color: #fff;
}

footer, 
#footer {
    background-color: #fff;
    color: #999;
    /*padding: 10px 0;*/
    text-align: center;
    line-height: normal;
    /*margin: 0 0 30px 0;*/
    font-size: .9em;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu li {
    display:none;
    list-style: none;
}

/* CHECKLIST MENU   
----------------------------------------------------------*/
div#checklist-menu-container 
{
	padding-bottom: 30px;
	display: block;
}
nav#menu-checklist
{
	margin: 0px; 
	padding-right: 0px; 
	padding-left: 0px;
	max-width: 1240px;
}
nav#menu-checklist ul 
{
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 26px;
	border: none 0px;
}
nav#menu-checklist ul li {
    display:inline-block;
	float:left;
	margin: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    width: auto;
	background-color: #e8eef4;
	border-left: 1px solid white;
	border-bottom: 1px solid white;
}

nav#menu-checklist ul li a {
	font-size: 8pt;
	font-weight: normal;
	color: #034af3;
}
.clearfix::before {
	display: table; 
	content: " ";
}
.clearfix::after {
	display: table; 
	content: " ";
	clear: both;
}

.clearfix {
    line-height: 0;
    height: 0;	
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
    min-width: 300px;
}

input[type="text"],
input[type="file"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 300px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1em;
    color: #444;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
}

/* TABLE
----------------------------------------------------------*/

/*table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}*/

/*table td {
    padding: 5px;
    border: solid 1px #e8eef4;
}*/

/*table th {*/
/*    padding: 6px 5px;*/
    /*text-align: left;*/
/*    background-color: #e8eef4;
    border: solid 1px #e8eef4;*/
/*}*/

/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

nav, 
#menucontainer {
    margin-top: 8px;
}

div#title {
    display: block;
    float: left;
    text-align: left;
}

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
}

#logindisplay a:link {
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited {
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: white;
    text-decoration: none;
}

#welcomedisplay 
{
    border: 1px solid #ddd;
    padding: 10px;
    display: block;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label 
{
	margin:  1em 0 0 0;
	color: Blue;
}

.editor-label {
    margin: 1em 0 0 0;
}

.display-field 
{
	display: inline;
} 

/*.editor-field {
    margin: 0.5em 0 0 0;
}*/

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}

/* Styles for SACE entities edit screens 
------------------------------------------------------*/

#adres_postcode
{
	width: 4em;
}

#adres_huisnummer
{
	width: 5em;
}

#adres_huisnummerToevoeging
{
	width: 7em;
}

#gemeentenaam
{
	width:320px;
}

/*#caseNumber,*/ #scanNumber, #previousCaseNumber/*, #caseReference*/
{
	width: 6em;
}

#registrationDate, #receiptDate, #replyDate, #dateSigned, #dateCompleted, #expiryDate, #fulfilledDate, #dateDecision, #dateSend, #datePrinted, #scanReceiptDate
{
	width: 6em;
}

#decisionPeriod, #replyPeriod
{
	width: 1.2em;
}

#vatRefundPercentage
{
	width: 4em;
}
#vatNumber
{
	width: 9em;
}
#totalCost, #subsidyAmount, #subsidyAmountRequested, #reconstructionValue, #subsidyAdjustedAmount, #subsidyMaxAmount, #subsidyPercentage, #payment
{
	width: 9em;
	text-align: right;
}

/* Styles for dialogs, panels and display tables
------------------------------------------------------*/
.modal-dialog
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #696969;
	background-color: InfoBackground;
}

.side-panel
{
	float: right; 
	width:30%; 
	background-color: InfoBackground;
	margin: 8px 0px 0px 8px;
	padding: 0px 8px 8px 8px;
	border-radius: 8px; 
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}

.display-table 
{
	border: none;
	border-collapse: collapse;
}

.display-table tr
{
    border: none;
    border-collapse: collapse;
    vertical-align: baseline;
}

.display-table tr td
{
	border: none;
	padding-left: 4px;
}

.side-panel table 
{
	margin-top: 6px; 
	margin-bottom: 6px;
	width: 100%;
}

.side-panel table caption
{
    padding: 4px;
    text-align: left;
    background: #e8eef4;
}

/* Styles for warnings and notifications
------------------------------------------------------*/
.wfapp-warning-message
{
	color: Red;
	background-color: #E8EEF4;
	padding: 4px 2px 4px 2px;
	font-weight: bold;
	margin: -8px 0px 8px 0px;
}
.wfapp-emphasis
{
	color: Red;
	font-weight: bold;
}

#status-border
{
    position: relative;
    height: 5px;
    width: 100px;
    border: solid 1px gray;
    display: none;
}
#status-fill
{
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    background-color: Blue;
    height: 5px;
}

/* System downtime or maintenance warning message 
------------------------------------------------------*/
#sys-warning-box {
	margin-top: -36px; 
	float: right;
	width: 50%;
}
#sys-warning-box-content {
	background: url("Images/bigwarning.gif") no-repeat 10px 0px rgb(255, 255, 255); 
	padding: 0px 10px 0px 120px; 
	text-align: left; 
	font-size: 0.8em; 
	font-stretch: normal;
	height: 90px;
}
#sys-warning-box-content h3 {
	padding-top: 8px;
}

div#wfapp-notify {
	font-size: .857em;
	text-align: left;
	float: right;
	display: none;
}
div#wfapp-notify a {
	font: 1.145em;
	color: white;
	text-decoration:none;
	display: block;
	background: url('images/feedbackballoon.png') no-repeat center center;
	width: 52px;
	height: 51px;
	overflow: hidden;
	line-height: 13px;
	padding-bottom: 0;
	padding-left: 11px;
	padding-right: 20px;
	padding-top: 12px;
}


/* Tool tips and buttons
------------------------------------------------------*/
.ui-tooltip 
{
	border-color: Blue;
}

.ui-tooltip-content 
{
	font-size: 0.7em;
}

div#address-nav-btn .arrow-btn
{
	margin-left: 1px;
	margin-bottom: -2px;
	padding: 4px; 
	background-color: #5c87b2;
	display: none; 
	cursor: pointer;
}

.label-tip
{
	margin-bottom: -2px; 
	display: none; 
}